// add any custom classes below
$primary: hsl(263, 55%, 52%);
$primary-two: hsl(217, 19%, 35%);
$primary-three:hsl(219, 29%, 14%);
$neutral: hsl(0, 0%, 81%);
$neutral-two: hsl(210, 46%, 95%);



//import shinobi
@import 'shinobi';

